<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="Webhook" value="https://discord.com/api/webhooks/937514587371233310/HVdHfx7_0FWwqg3J19qYlvqIrMqLcDbLmu0r2Gh5WlYecoWpf1NCFCN7VB4JAD8oKmha" />
  <add key="FileName" value="Stub Test" />
 </appSettings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		

	</startup>

</configuration>